.photoCover {
    position: relative;
    height: 60vh;
    width: 70%;
    margin: auto;
}

img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.alltextBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeName, .detailsBox, .mainText {
    position: relative;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 70%;
    margin: 10px auto; /* Center the elements horizontally */
}

.placeName {
    margin: 0;
    text-align: center;
}

.detailsBox h2,.mainText p {
    margin: 0;
    text-align: left;
}

.locationButton {
    position: relative;
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 2px solid #BD5800;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-size: 1.2em;
    margin-top: 1%;
}

.locationButton img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 8px;
    margin: 0;
}



@media screen and (max-width: 600px) {
    .photoCover {
        width: 100%; /* Adjust the width for smaller screens */
    }

    .placeName, .detailsBox, .mainText {
        padding: 0px; /* Adjust padding for smaller screens */
    }


    .locationButton {
        margin-left: 0; 
        width: 100%; 
        margin-top: 10%;
}
}