/* THIS STYLESHEET IS INTENDED TO BE SHARED ACROSS ALL PAGES, SO INCLUDES THE NAV AND FONTS. */

@font-face {
  font-family: 'rethinkSans';
  src: url('/fonts/Rethink_Sans/static/RethinkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* SETTINGS FOR MY NAV */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: #686464;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bd5800;
}

.topnav a.active {
  background-color: #0065bd;
  color: white;
}

.topnav .icon {
  display: none;
}

/* END OF NAV */

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Styles for the site */
body {
  font-family: rethinkSans;
}
 
/* default size */
h1 {
  font-size: 4rem;
  color: black;
}

h2 {
  font-size: 1.2rem;
  color: black;
}

p {
  font-size:1.8rem;
  color: black;
}

@media screen and (max-width: 600px) {
h1{
  font-size: 2rem;
  color: black;
}

h2{
  font-size: 0.8rem;
  color: black;
}

p{
  font-size: 1rem;
  color:black
}
}

/* end of style wide styles */

